<div class="bg-white py-1">
    <div class="container py-1">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="display-6" > <span class="span"> <h1 style="padding-left: 40px;">Live Green Think Green</h1></span></h1>
          <p class="lead text-muted mb-0" style="text-align: justify;padding-left: 40px;" >We’re so used to today’s sanitation standards, it can be easy to forget
             about how far we've come with waste collection. But it wasn’t that long ago that the
             handling of trash was inconsistent and resulted in unsightly piles lining city streets and sidewalks. <br>
            In this system, multiple bins are located in the area. These bins are provided with sensors which
            detects the level of the waste and location. When the level of
            bin exceeds, the device will transmit the readings. So that concerned authority can collect the
            garbage whenever the bin is full. Our leadership serves with a focus on maximizing resource value
             while minimizing or even eliminating environmental impact so that both our economy and environment
              can thrive.</p>

        </div>
        <div class="col-lg-6 d-none d-lg-block"><img width="100%" height="100%"  src="/img/picture.jpg" class="img" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>

  <div class="bg-white py-1">
    <div class="container py-1">
      <div class="row align-items-center mb">
        <div class="col-lg-11 order-2 order-lg-1">
        <p> <img src="/img/people-first-person-icon.svg" class="img" height="40px"  alt="Person"> <span class="span">We're Committed to Our People First</span></p>
          <p class="lead text-muted mb-4" style="padding-left: 40px;">The proud, caring and resilient members of the Waste Management family are the foundation of our success. We commit
            to taking care of each other, our customers, our communities and the environment.</p>
        </div>


        <div class="col-lg-11 order-2 order-lg-1">
          <p> <img src="/img/success-integrity-scales-icon.svg"class="img" height="40px" alt="success"> <span class="span">We're Committed to Success With Integrity</span></p>
            <p class="lead text-muted mb-4" style="padding-left: 40px;">Our success is based not only on the results we achieve, but how we achieve them. We commit to being accountable, honest,
               trustworthy, ethical and compliant in all we do.</p>
          </div>

          <div class="col-lg-11 order-2 order-lg-1">
            <p> <img src="/img/inclusion-diversity-venndiagram-icon.svg" class="img" height="40px" alt="success"> <span class="span">We Value Inclusion and Diversity</span></p>
              <p class="lead text-muted mb-4" style="padding-left: 40px;">We embrace and cultivate respect, trust, open communications and diversity of thought and people.
              </p>
            </div>

            <div class="col-lg-11 order-2 order-lg-1">
              <p> <img src="/img/value-customers-people-icon.svg"class="img" height="40px" alt="success"> <span class="span">We Value Inclusion and Diversity</span></p>
                <p class="lead text-muted mb-4" style="padding-left: 40px;">We place our customers at the center of what we do and aspire to delight them every day.  </p>
              </div>

              <div class="col-lg-11 order-2 order-lg-1">
                <p> <img src="/img/value-safety-hard-hat-icon.svg"class="img" height="40px" alt="success"> <span class="span">We Value Safety</span></p>
                  <p class="lead text-muted mb-4" style="padding-left: 40px;">We have zero tolerance for unsafe actions and conditions and make safety a core value without compromise.
                  </p>
                </div>
                <div class="col-lg-11 order-2 order-lg-1">
                  <p> <img src="/img/environment-trees-icon.svg" class="img" height="40px" alt="success"> <span class="span">We Value Our Environment</span></p>
                    <p class="lead text-muted mb-4" style="padding-left: 40px;">We are responsible stewards of the environment and champions for sustainability.

                    </p>
                  </div>

      </div>
    </div>
  </div>

  <div class="bg-white py-3">
    <div class="container py-3">
      <div class="row mb-4">
        <div class="col-lg-5">
          <p> <img src="/img/team.svg" class="img" height="40px" alt="success"> <span class="span"> Our Team</span></p>
       
          <p class="lead text-muted"style="padding-left: 40px;">Together we can do more.

          </p>
        </div>
      </div>

      <div class="row text-center">
        <!-- Team item-->

        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/DRB.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Daud Rauf Butt</h5><span class="small text-uppercase text-muted">Web Developer</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="https://www.facebook.com/iamdaudbutt" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/DaudRaufButt" target="_blank" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="https://www.instagram.com/imdaudbutt/?hl=en" target="_blank" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="https://www.linkedin.com/in/daud-rauf-butt-468353154/" target="_blank" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/Atif.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">M. Atif Bashir</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="www.facebook.com/aatifff" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->

        <!-- Team item-->
        <div class="col-xl-4 col-sm-6 mb-5">
          <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/img/Hamza.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
            <h5 class="mb-0">Hamza Khalid</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            <ul class="social mb-0 list-inline mt-3">
              <li class="list-inline-item"><a href="www.facebook.com/" target="_blank" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End-->
        <div class="container text-center">
          <p class="font text-muted mb-0">&copy; Copyrights Smart Waste Control - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>


 
