<div class="col-md-3 left_col menu_fixed">
  <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title"> <i class="fa fa-paw"></i> <span>S W C</span></a>
    </div>

    <div class="clearfix"></div>

    <div class="profile clearfix">
      <div class="profile_pic">
        <img
          src="<%= user.avatar ? `/employee/avatar/${user.avatar}` : '/img/placeholder-avatar.png' %>"
          alt="..."
          class="img-circle profile_img"
        />
      </div>
      <div class="profile_info">
        <span>Welcome,</span>
        <h2><%= toProperCase(user.full_name) %></h2>
      </div>
      <div class="clearfix"></div>
    </div>

    <br />

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li>
            <a><i class="fa fa-map-marker"></i> Map View <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/">Map View</a></li>
            </ul>
          </li>
          <li>
            <a><i class="fa fa-user"></i> Employee <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/employee">List Employees</a></li>
              <li><a href="/employee/new">Add Employee</a></li>
            </ul>
          </li>
          <li>
            <a><i class="fa fa-truck"></i> Vehicle<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/vehicle">List Vehicle</a></li>
              <li><a href="/vehicle/new">Add vehicle</a></li>
            </ul>
          </li>
          <li>
            <a
              ><i class="fa fa-trash"></i> Bins <span class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a href="/bins">List bins</a></li>
              
            </ul>
          </li>
          <li>
            <a><i class="fa fa-road"></i> Tracks <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/track">List Tracks</a></li>
              <li><a href="/track/new">Add Track</a></li>
            </ul>
          </li>
          
          <li>
            <a
              ><i class="fa fa-tasks"></i> Allocation
              <span class="fa fa-chevron-down"></span
            ></a>
            <ul class="nav child_menu">
              <li><a href="/allocation/employeeTrack">Employee-Tracks</a></li>
              <li><a href="/allocation/employeeVehicle">Employee-Vehicle</a></li>
              <li><a href="/allocation/trackBin">Track_Bins</a></li>

            </ul>
          </li>
          <li>
            <a><i class="fa fa-info-circle"></i>About Us <span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">
              <li><a href="/about">About Us</a></li>
              
            </ul>
          </li>
        </ul>
      </div>
     
    </div>
  </div>
</div>
