<div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Add Employee</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li>
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>

          <li>
            <a class="close-link" href="/employee"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <% if(errors){ %>
        <div class="row justify-content-md-center">
          <div class="alert alert-danger" role="alert">
            <h5>😩 Form error</h5>
            <% errors.forEach((error) => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </div>
        </div>
        <% } else if(employeeId){ %>
        <div class="row justify-content-md-center">
          <div class="alert alert-success" role="alert">
            <h5>🙌 Success</h5>
            <p>
              New employee added successfully.
              <a href="/employee/profile/<%= employeeId %>">View details</a>
            </p>
          </div>
        </div>
        <% } %>
        <form action="/employee/new" method="POST" novalidate enctype="multipart/form-data">
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Name<span class="required"> *</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                data-validate-length-range="6"
                data-validate-words="2"
                name="full_name"
                placeholder="both name(s) e.g Ali Ahmed"
                required="required"
              />
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >CNIC<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                class="optional"
                name="cnic"
                minlength="15"
                maxlength="15"
                pattern="[0-9+]{5}-[0-9+]{7}-[0-9]{1}"
                type="text"
                placeholder="XXXXX-XXXXXXX-X"
                required="required"
              />
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Email<span class="required"> *</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                name="email"
                class="email"
                required="required"
                type="email"
              />
            </div>
          </div>

          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Mobile Number <span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                type="text"
                class="number"
                name="contact"
                placeholder="03XX-XXXXXXX"
                pattern="[0]{1}[3]{1}[0-4]{1}[0-9]{1}-[0-9+]{7}"
                minlength="12"
                maxlength="12"
                required="required"
              />
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Date Of Birth<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input class="form-control" class="date" type="date" name="dob" required="required" />
            </div>
          </div>
          <div class="form-group row">
            <label class="col-form-label col-md-3 col-sm-3 label-align"
              >Gender<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6 ">
              <div id="gender" class="btn-group" data-toggle="buttons">
                <label
                  class="btn btn-dark"
                  data-toggle-class="btn-primary"
                  data-toggle-passive-class="btn-secondary"
                >
                  <input type="radio" name="gender" value="male" class="join-btn" />
                  &nbsp; Male &nbsp;
                </label>
                <label
                  class="btn btn-dark"
                  data-toggle-class="btn-primary"
                  data-toggle-passive-class="btn-secondary"
                >
                  <input type="radio" name="gender" value="female" class="join-btn" />
                  Female
                </label>
              </div>
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Address<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input class="form-control" name="home_address" required="required" />
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Employee Type<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <select class="form-control" name="employee_type">
                <option value="not-specified">Choose option</option>
                <option value="driver">Driver</option>
                <option value="staff">Technical Staff</option>
                <option value="security">Security</option>
                <option value="manager">Manager</option>
              </select>
            </div>
          </div>

          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Working Shift<span class="required"> *</span></label
            >
            <div class="col-md-6 col-sm-6">
              <select class="form-control" name="shift">
                <option value="not-specified">Choose option</option>
                <option value="morning">Morning</option>
                <option value="noon">Noon</option>
                <option value="night">Night</option>
              </select>
            </div>
          </div>
          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align">Bank Account</label>
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                type="text"
                class="number"
                name="bank_account"
                required="required"
              />
            </div>
          </div>

          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align"
              >Avatar<span class="required"> *</span>
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                style="height: auto;"
                type="file"
                name="avatar"
                required="required"
              />
            </div>
          </div>

          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Remarks<span class="required">*</span></label
            >
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                type="text"
                class="number"
                name="remarks"
                required="required"
              />
            </div>
          </div>

          <div class="field item form-group">
            <label class="col-form-label col-md-3 col-sm-3  label-align"
              >Password<span class="required">*</span>
            </label>
            <div class="col-md-6 col-sm-6">
              <input
                class="form-control"
                type="password"
                name="passwrd"
                data-validate-length="6"
                required="required"
              />
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-6 offset-md-3">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="reset" class="btn btn-success">Reset</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- <script src="../vendors/validator/multifield.js"></script>
<script src="../vendors/validator/validator.js"></script> -->

<script>
  var validator = new FormValidator({ events: ['blur', 'input', 'change'] }, document.forms[0]);
  document.forms[0].onsubmit = function(e) {
    var submit = true,
      validatorResult = validator.checkAll(this);
    console.log(validatorResult);
    return !!validatorResult.valid;
  };
  document.forms[0].onreset = function(e) {
    validator.reset();
  };
  $('.toggleValidationTooltips')
    .change(() => {
      validator.settings.alerts = !this.checked;
      if (this.checked) $('form .alert').remove();
    })
    .prop('checked', false);
</script>
